@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #275b2d;
  background: #fffcec;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
